<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{_fragments/_head :: my-head('상품상세')}" />
    <link rel="stylesheet" th:href="@{/assets/css/main.css}" />
</head>
<body>
<th:block th:replace="~{_fragments/header}" />

<main>
    <div class="secondbar">
        <div class="container">
            <div class="top-center">
                <a th:href="@{/products}">전체보기</a>
                <a th:href="@{/products/파인트}">파인트</a>
                <a th:href="@{/products/미니컵}">미니컵</a>
                <a th:href="@{/products/스틱바}">스틱바</a>
                <a th:href="@{/products/쿼터}">쿼터</a>
                <a th:href="@{/products/케이크}">케이크/디저트</a>
                <a th:href="@{/products/굿즈}">굿즈</a>

            </div>
        </div>
    </div>

    <div class="all-products">
        <div class="all-products">
            <div class="product-card-all" th:each="p : ${products}">
                <a th:href="@{'/products/products_detail/' + ${p.id}}">
                    <img th:src="${p.imageUrl}" th:alt="${p.name}">
                    <div class="product-info-all">
                        <p class="title" th:text="${p.name}"></p>
                        <p class="price">
                            <span class="original" th:text="|₩${p.originalPrice}원|"></span>
                            <span class="sale" th:text="|₩${p.price}원|"></span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>








</main>
<th:block th:replace="~{_fragments/_footer}" />


<script>
    const swiper = new Swiper(".main-slider", {
        loop: true,
        speed: 800,
        autoplay: {
            delay: 2000,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
</body>
</html>
