<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{_fragments/_head :: my-head('상품목록')}" />
  <link rel="stylesheet" th:href="@{/assets/css/main.css}" />
</head>
<body>
<th:block th:replace="~{_fragments/header}" />

<main class="product-wrapper">

  <!-- 단독구성 -->
  <section class="product-section">
    <h2 class="section-title">단독구성</h2>
    <div class="all-products">
      <div class="product-card-all" th:each="p : ${singleProducts}">
        <a th:href="@{'/products/products_detail/' + ${p.id}}">
          <img th:src="${p.imageUrl}" th:alt="${p.name}">
          <div class="product-info-all">
            <p class="title" th:text="${p.name}"></p>
            <p class="price">
              <span class="original" th:text="|₩${p.originalPrice}원|"></span>
              <span class="sale" th:text="|₩${p.price}원|"></span>
            </p>
          </div>
        </a>
      </div>
    </div>
  </section>

    <!-- 페이지 번호 -->
    <ul class="pagination">
        <!-- 이전 페이지 -->
        <li th:if="${pageHelper.prevPage > 0}">
            <a th:href="@{/recommended_single(page=${pageHelper.prevPage})}">«</a>
        </li>
        <li th:unless="${pageHelper.prevPage > 0}"><a>«</a></li>

        <!-- 페이지 번호 -->
        <li th:each="i : ${#numbers.sequence(pageHelper.startPage, pageHelper.endPage)}">
            <a th:if="${i == pageHelper.nowPage}" class="active" th:text="${i}"></a>
            <a th:unless="${i == pageHelper.nowPage}"
               th:text="${i}"
               th:href="@{/recommended_single(page=${i})}"></a>
        </li>

        <!-- 다음 페이지 -->
        <li th:if="${pageHelper.nextPage > 0}">
            <a th:href="@{/recommended_single(page=${pageHelper.nextPage})}">»</a>
        </li>
        <li th:unless="${pageHelper.nextPage > 0}"><a>»</a></li>
    </ul>

</main>

<th:block th:replace="~{_fragments/_footer}" />
</body>
</html>
