<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{_fragments/_head :: my-head('상품상세')}" />
    <link rel="stylesheet" th:href="@{/assets/css/main.css}" />
</head>
<body>
<th:block th:replace="~{_fragments/header}" />

<main>


    <div class="all-products">

        <!-- 전체보기 -->
        <div th:if="${type} == 'all'">
            <div class="product-card-all" th:each="p : ${products}">
                <img th:src="${p.imageUrl}" th:alt="${p.name}">
                <div class="product-info-all">
                    <p class="title" th:text="${p.name}"></p>
                    <p class="price">
                        <span class="original" th:text="|₩${p.originalPrice}원|"></span>
                        <span class="sale" th:text="|₩${p.price}원|"></span>
                    </p>
                </div>
            </div>
        </div>

        <!-- 단독구성 -->
        <div th:if="${type} == 'single'">
            <div class="product-card-all" th:each="p : ${singleProducts}">
                <img th:src="${p.imageUrl}" th:alt="${p.name}">
                <div class="product-info-all">
                    <p class="title" th:text="${p.name}"></p>
                    <p class="price" th:text="|₩${p.price}원|"></p>
                </div>
            </div>
        </div>

        <!-- 선물추천 -->
        <div th:if="${type} == 'gift'">
            <div class="product-card-all" th:each="p : ${giftProducts}">
                <img th:src="${p.imageUrl}" th:alt="${p.name}">
                <div class="product-info-all">
                    <p class="title" th:text="${p.name}"></p>
                    <p class="price" th:text="|₩${p.price}원|"></p>
                </div>
            </div>
        </div>

    </div>








</main>
<th:block th:replace="~{_fragments/_footer}" />


<script>
    const swiper = new Swiper(".main-slider", {
        loop: true,
        speed: 800,
        autoplay: {
            delay: 2000,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
</body>
</html>
