<header class="hd-header">

    <!-- 상단 탑바 -->
    <div class="hd-topbar">
        <div class="container">
            <div class="top-left">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fa-regular fa-comment-dots"></i></a>
            </div>
            <div class="top-right">
                <a href="#">로그인</a>
                <a href="#">회원가입</a>
                <a href="#">장바구니</a>
                <a href="#">주문/배송조회</a>
            </div>
        </div>
    </div>

    <!-- 로고 영역 -->
    <div class="hd-logo-wrap">
        <div class="container">
            <a href="/" class="hd-logo">
                <img src="/assets/img/top_logo.png" alt="하겐다즈 로고" />
            </a>
        </div>
    </div>

    <!-- 네비게이션 -->
    <div class="hd-nav">
        <div class="container">
            <div class="nav-left">
                <i class="fa-solid fa-bars"></i>
            </div>

            <nav class="hd-gnb">
                <ul>
                    <!-- 추천제품 -->
                    <li class="has-sub">
                        <a th:href="@{/recommended}">추천제품</a>
                            <div class="subbar">
                                <a th:href="@{/recommended}">전체보기</a>
                                <a th:href="@{/recommended_single}">단독구성</a>
                                <a th:href="@{/recommended_gift}">선물추천</a>
                            </div>
                    </li>

                    <!-- 모든제품 -->
                    <li class="has-sub">
                        <a th:href="@{/products}">모든제품</a>
                        <div class="subbar">
                            <a th:href="@{/products}">전체보기</a>
                            <a th:href="@{/products/파인트}">파인트</a>
                            <a th:href="@{/products/미니컵}">미니컵</a>
                            <a th:href="@{/products/스틱바}">스틱바&샌드</a>
                            <a th:href="@{/products/쿼터}">쿼터</a>
                            <a th:href="@{/products/케이크}">케이크&디저트</a>
                            <a th:href="@{/products/굿즈}">굿즈</a>
                        </div>
                    </li>

                    <li><a th:href="@{/membership}">멤버십</a></li>
                    <li><a th:href="@{/brand}">브랜드</a></li>
                    <li><a th:href="@{/b2b}">외식사업 고객용(B2B)</a></li>
                </ul>
            </nav>

            <!-- 검색창 -->
            <div class="nav-right">
                <div class="search-box">
                    <input type="text" placeholder="" />
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
        </div>
    </div>
</header>
