<header class="hd-header">

    <div class="hd-topbar">
        <div class="container">
            <div class="top-left">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fa-regular fa-comment-dots"></i></a>
            </div>
            <div class="top-right">
                <a href="#">로그인</a>
                <a href="#">회원가입</a>
                <a href="#">장바구니</a>
                <a href="#">주문/배송조회</a>
            </div>
        </div>
    </div>

    <div class="hd-logo-wrap">
        <div class="container">
            <a href="/" class="hd-logo">
                <img src="/assets/img/top_logo.png" alt="하겐다즈 로고" />
            </a>
        </div>
    </div>


    <div class="hd-nav">
        <div class="container">
            <div class="nav-left">
                <i class="fa-solid fa-bars"></i>
            </div>


            <nav class="hd-gnb">
                <a href="#">추천제품</a>
                <a href="@{/home/products}">모든제품</a>
                <a href="#">멤버십</a>
                <a href="#">브랜드</a>
                <a href="#">외식사업 고객용(B2B)</a>
            </nav>


            <div class="nav-right">
                <div class="search-box">
                    <input type="text" placeholder="" />
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
        </div>
    </div>
</header>