<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{_fragments/_head :: my-head('상품상세')}" />
    <link rel="stylesheet" th:href="@{/assets/css/main.css}" />
</head>
<body>
<th:block th:replace="~{_fragments/header}" />

<main>
    <div class="secondbar">
        <div class="container">
            <div class="top-center">
                <a href="@{home/products">전체보기</a>
                <a href="#">파인트</a>
                <a href="#">미니컵</a>
                <a href="#">스틱바</a>
                <a href="#">쿼터</a>
                <a href="#">케이크/디저트</a>
                <a href="#">굿즈</a>

            </div>
        </div>
    </div>

    <div class="all-products">
        <div class="all-products">
            <div class="product-card-all" th:each="p : ${products}">
                <img th:src="${p.imageUrl}" th:alt="${p.name}">
                <div class="product-info-all">
                    <p class="title" th:text="${p.name}"></p>
                    <p class="price">
                        <span class="original" th:text="|₩${p.originalPrice}원|"></span>
                        <span class="sale" th:text="|₩${p.price}원|"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>







</main>
<footer class="hd-footer">
    <div class="footer-container">
        <div class="footer-left">
            <img src="https://haagendazs-store.co.kr/images/newDesign/foot_logo.png" alt="Häagen-Dazs 로고" class="footer-logo" />
            <p>
                본 사이트는 웹개발 프로젝트용으로 만들어졌습니다.
            </p>
            <p>
                한국하겐다즈㈜ 대표: 홍길동<br>
                주소: 서울특별시 강남구 테헤란로 123 1층<br>
                사업자등록번호: 123-12-12345<br>
                통신판매업신고: 강남-1234<br>
                대표전화: 12-123-1234<br>
                개인정보관리책임자: 김미조 대표
            </p>
            <p>
                주식회사 에스와이피글로벌 대표: 홍길동 (사업자정보확인)<br>
                주소: 서울특별시 강남구 봉은사로 12길 12, 123호<br>
                사업자등록번호: 123-12-12345<br>
                통신판매업신고: 2025-서울강남-12345<br>
                대표전화: 070-1234-1234<br>
                Email: practice.project.com<br>
                개인정보관리책임자: 홍길동
            </p>
        </div>

        <div class="footer-right">
            <div class="footer-contact">
                <h3>하겐다즈 고객만족센터</h3>
                <p class="phone">070-1234-1234</p>
                <p>* 고객센터 운영시간: 평일 10:00 ~ 17:00<br>(점심시간 12:00~13:00)</p>
            </div>
            <ul class="footer-links">
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">이용약관</a></li>
                <li><a href="#">이메일무단수집거부</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Copyright © 2021 Häagen-Dazs Korea. All Rights Reserved.</p>
    </div>
</footer>


<script>
    const swiper = new Swiper(".main-slider", {
        loop: true,
        speed: 800,
        autoplay: {
            delay: 2000,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
</body>
</html>
